@inherits UmbracoViewPage

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2>Välkommen till JOCÅ-Teknik AB</h2>
                <h3>Vi är experter på att ta fram produkter och prototyper i glasfiber och epoxi.</h3>
                <p>Företaget har funnits i Trelleborg sedan 1991 och är specialister på kvalificerade konstruktioner i armerad plast och epoxi. Vi hjälper dig genom hela processen från ritning till prototyp och sedan färdig produkt. Genom åren har vi varit delaktiga i projekt inom de flesta branscher bland annat flygbranschen och sjöfart som ställer stora krav på noggrannhet och kvalitet. På så sätt har vi byggt upp en stor erfarenhet av vilka lösningar och material som verkligen fungerar när kraven är höga. Vi har också stor erfarenhet inom kostnadseffektivitet och hur man går från prototyp till serietillverkning.</p>
                 <!-- Divider-->
                    <hr class="my-4" />

                <h2 class="section-heading">VÅRA PRODUKTER FINNS NÄSTAN ÖVERALLT</h2>
                <p>Glasfiber och epoxi är extremt starka material som man nästan kan bygga vad som helst av. Eftersom materialen både är starka och lätta är det nästan alltid en stor fördel att använda sig av dessa när man skall ta fram produkter som skall vara slittåliga men samtidigt lätta att hantera.</p>
                <!-- Divider-->
                    <hr class="my-4" />

                <img src="https://www.jocateknik.se/portals/jocateknik/Images/flygindustri_liten.jpg?ver=2016-04-19-120037-157" style="display: block; margin: 0 auto;">
                <h2 style="text-align: center;">FLYGINDUSTRIN </h2>
                <p>Vi har under 20 år tagit fram olika produkter och lösningar till internationell flygindustri där det ställs höga krav på de material som används.</p>
                <!-- Divider-->
                    <hr class="my-4" />

                <img src="https://www.jocateknik.se/portals/jocateknik/Images/raddning_liten.jpg?ver=2016-04-19-132332-687" style="display: block; margin: 0 auto;">
                <h2 class="section-heading" style="text-align: center;">SJÖRÄDDNING OCH FÖRSVAR</h2>
                <p>Jocå-Teknik har varit med och utvecklat ett flertal olika produkter för sjöräddning och försvar, bland annat en bår som är specialutformad för insatser vid jordbävningar och i andra trånga utrymmen.</p>
                <!-- Divider-->
                    <hr class="my-4" />
                    
               
            </div>
        </div>
    </div>
</article>