@inherits UmbracoViewPage<IHeaderPrpoerties>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>@Model.Title | OM JOCÅ-Teknik | (C)George Youssef</title>